n8n/dependency-analysis.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "dependency-analysis",
        "authentication": "headerAuth",
        "options": {
          "responseCode": {
            "values": {
              "responseCode": "customCode",
              "customCode": 202
            }
          }
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -3360,
        2640
      ],
      "id": "0bda22d3-2b2a-446f-81c1-92c6be7f2484",
      "name": "dependency-analysis",
      "webhookId": "dependency-analysis",
      "credentials": {
        "httpHeaderAuth": {
          "id": "wQR0dQEh1U9f6Jt6",
          "name": "n8n-auth-header"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const incoming = $input.first().json;\nconst payload = incoming.body ?? incoming;\nconst normalizeResolution = (candidate) => {\n  const resolution = candidate?.resolution && typeof candidate.resolution === 'object' ? candidate.resolution : {};\n  return {\n    declaredSpec: String(resolution.declaredSpec ?? candidate.currentVersion ?? ''),\n    specKind: String(resolution.specKind ?? 'unknown'),\n    registryPackageName: resolution.registryPackageName ? String(resolution.registryPackageName) : undefined,\n    wantedVersion: resolution.wantedVersion ? String(resolution.wantedVersion) : undefined,\n    latestVersion: resolution.latestVersion ? String(resolution.latestVersion) : undefined,\n    comparisonStatus: String(resolution.comparisonStatus ?? 'unresolved'),\n    requiresManualReview: Boolean(resolution.requiresManualReview ?? false),\n    deprecationStatus: String(resolution.deprecationStatus ?? (candidate.deprecated ? 'wanted_deprecated' : 'none')),\n    deprecationMessage: resolution.deprecationMessage ? String(resolution.deprecationMessage) : undefined,\n    deprecationSourceVersion: resolution.deprecationSourceVersion ? String(resolution.deprecationSourceVersion) : undefined,\n    peerOptional: Boolean(resolution.peerOptional ?? false)\n  };\n};\nfor (const key of ['analysisId', 'projectName', 'dependencyStats', 'candidates']) {\n  if (payload[key] === undefined || payload[key] === null) {\n    throw new Error(`Missing field: ${key}`);\n  }\n}\nif (!Array.isArray(payload.candidates)) {\n  throw new Error('candidates must be an array');\n}\nreturn [{ json: { analysisId: String(payload.analysisId), projectName: String(payload.projectName), dependencyStats: { total: Number(payload.dependencyStats.total ?? 0), outdated: Number(payload.dependencyStats.outdated ?? 0), majors: Number(payload.dependencyStats.majors ?? 0), deprecated: Number(payload.dependencyStats.deprecated ?? 0) }, candidates: payload.candidates.map((candidate) => ({ name: String(candidate.name ?? ''), currentVersion: String(candidate.currentVersion ?? ''), latestVersion: String(candidate.latestVersion ?? ''), group: String(candidate.group ?? 'dependencies'), diffType: String(candidate.diffType ?? 'unknown'), deprecated: Boolean(candidate.deprecated ?? false), publishedAt: candidate.publishedAt ?? null, repositoryUrl: candidate.repositoryUrl ?? null, riskScore: Number(candidate.riskScore ?? 0), sourceUrls: Array.isArray(candidate.sourceUrls) ? candidate.sourceUrls.map((entry) => String(entry)) : [], resolution: normalizeResolution(candidate) })).filter((candidate) => candidate.name.length > 0) } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -3120,
        2640
      ],
      "id": "b676311a-66a6-462b-9c25-9ccb529d5837",
      "name": "Validate input"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst normalizeUrl = (value) => {\n  if (!value || typeof value !== 'string') return null;\n  return value.replace(/^git\\+/, '').replace(/\\.git$/i, '').replace(/^ssh:\\/\\/git@github.com\\//, 'https://github.com/').replace(/^git@github.com:/, 'https://github.com/').replace(/^git:\\/\\//, 'https://');\n};\nconst candidates = input.candidates.map((candidate) => {\n  const repositoryUrl = normalizeUrl(candidate.repositoryUrl);\n  const sourceUrls = Array.isArray(candidate.sourceUrls) ? candidate.sourceUrls.map((url) => normalizeUrl(url)).filter(Boolean) : [];\n  if (repositoryUrl && !sourceUrls.includes(repositoryUrl)) {\n    sourceUrls.push(repositoryUrl);\n  }\n  if (!sourceUrls.some((url) => url.includes('npmjs.com/package'))) {\n    sourceUrls.unshift(`https://www.npmjs.com/package/${candidate.name}`);\n  }\n  return { ...candidate, repositoryUrl, sourceUrls, publishedAt: candidate.publishedAt || null, riskScore: Math.max(0, Math.min(100, Number(candidate.riskScore ?? 0))) };\n}).sort((left, right) => right.riskScore - left.riskScore || left.name.localeCompare(right.name));\nreturn [{ json: { ...input, candidates } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2912,
        2640
      ],
      "id": "02725991-a72d-40e4-a3e3-09a61c29d640",
      "name": "Normalize candidates"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst ranked = [...data.candidates];\nconst needsManualReview = (candidate) => Boolean(candidate?.resolution?.requiresManualReview);\nconst deepNames = new Set();\nfor (const candidate of ranked) {\n  if (candidate.diffType === 'major' || candidate.deprecated || needsManualReview(candidate)) {\n    deepNames.add(candidate.name);\n  }\n}\nfor (const candidate of ranked) {\n  if (deepNames.size >= 8) break;\n  deepNames.add(candidate.name);\n}\nconst deepCandidates = ranked.filter((candidate) => deepNames.has(candidate.name)).slice(0, 8);\nconst shallowCandidates = ranked.filter((candidate) => !deepNames.has(candidate.name));\nconst quickWins = ranked.filter((candidate) => ['patch', 'minor'].includes(candidate.diffType) && !candidate.deprecated && !needsManualReview(candidate)).slice(0, 8);\nconst highRisk = ranked.filter((candidate) => candidate.diffType === 'major' || candidate.deprecated || candidate.riskScore >= 70 || needsManualReview(candidate)).slice(0, 8);\nreturn [{ json: { analysisId: data.analysisId, projectName: data.projectName, dependencyStats: data.dependencyStats, allCandidates: ranked, deepCandidates, shallowCandidates, quickWins, highRisk, totalDeepCandidates: deepCandidates.length } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2672,
        2640
      ],
      "id": "8557a598-6bfd-4a2c-a740-d79b8c74afac",
      "name": "Tier packages"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ Number($json.totalDeepCandidates ?? 0) }}",
              "operation": "larger"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -2432,
        2640
      ],
      "id": "b99dfdb1-8c3b-498a-b542-55b021a822a9",
      "name": "IF deep candidates?"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst deepCandidates = Array.isArray(data.deepCandidates) ? data.deepCandidates : [];\nreturn deepCandidates.map((deepCandidate, index) => ({\n  json: {\n    analysisId: data.analysisId,\n    projectName: data.projectName,\n    dependencyStats: data.dependencyStats,\n    allCandidates: data.allCandidates,\n    deepCandidate,\n    candidatePosition: index + 1,\n    totalDeepCandidates: deepCandidates.length,\n    skipResearch: false\n  }\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2256,
        2496
      ],
      "id": "21ba5f6f-4de2-43c0-b231-8560d9633d7f",
      "name": "Prepare deep research items"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "eKaIlg2SgQNSQqgn",
          "mode": "list",
          "cachedResultUrl": "/workflow/eKaIlg2SgQNSQqgn",
          "cachedResultName": "package-research"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "analysisId": "={{ $json.analysisId }}",
            "projectName": "={{ $json.projectName }}",
            "dependencyStats": "={{ $json.dependencyStats }}",
            "allCandidates": "={{ $json.allCandidates }}",
            "deepCandidate": "={{ $json.deepCandidate }}",
            "candidatePosition": "={{ $json.candidatePosition }}",
            "totalDeepCandidates": "={{ $json.totalDeepCandidates }}",
            "skipResearch": "={{ $json.skipResearch }}"
          },
          "schema": []
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        -2064,
        2496
      ],
      "id": "22d0d959-6d68-43fb-90bf-4be23d90e78f",
      "name": "Call 'package-research'",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const base = $('Tier packages').first().json;\nconst deepBriefs = $input.all().map((item) => item.json?.packageBrief).filter(Boolean);\nconst shallowCandidates = Array.isArray(base.shallowCandidates) ? base.shallowCandidates : [];\nconst formatDate = (value) => {\n  if (!value) return null;\n  const parsed = new Date(value);\n  return Number.isNaN(parsed.getTime()) ? null : parsed.toISOString().slice(0, 10);\n};\nconst getResolution = (candidate) => candidate?.resolution ?? {};\nconst getComparisonStatus = (candidate) => getResolution(candidate).comparisonStatus ?? 'unresolved';\nconst getDeclaredSpec = (candidate) => getResolution(candidate).declaredSpec ?? candidate.currentVersion;\nconst getWantedVersion = (candidate) => getResolution(candidate).wantedVersion ?? candidate.currentVersion;\nconst getLatestVersion = (candidate) => getResolution(candidate).latestVersion ?? candidate.latestVersion;\nconst getDisplayStatus = (candidate) => {\n  const comparisonStatus = getComparisonStatus(candidate);\n  if (comparisonStatus === 'up_to_date') {\n    return getDeclaredSpec(candidate) !== getWantedVersion(candidate)\n      ? 'covered_by_range'\n      : 'up_to_date';\n  }\n  if (comparisonStatus === 'outdated') {\n    return 'outdated';\n  }\n  return 'manual_review';\n};\nconst summarize = (candidate) => {\n  const publishedAt = formatDate(candidate.publishedAt);\n  const resolution = getResolution(candidate);\n  const declaredSpec = getDeclaredSpec(candidate);\n  const wantedVersion = getWantedVersion(candidate);\n  const latestVersion = getLatestVersion(candidate);\n  const displayStatus = getDisplayStatus(candidate);\n  const tone = displayStatus === 'manual_review'\n    ? `Spec ${declaredSpec} requiere revisión manual (${resolution.specKind ?? 'unknown'}); no se asume un upgrade automático fiable.`\n    : candidate.deprecated\n      ? `La resolución apunta a un estado deprecated (${resolution.deprecationStatus ?? 'wanted_deprecated'}) y conviene planificar salida o reemplazo.`\n      : displayStatus === 'covered_by_range'\n        ? `El spec ya cubre la latest del registry y no requiere cambio en package.json.`\n        : displayStatus === 'up_to_date'\n          ? `El paquete ya está alineado con la latest del registry y no requiere cambio en package.json.`\n          : candidate.diffType === 'major'\n            ? 'Evidencia parcial basada en semver y metadata; trata el cambio como potencialmente breaking hasta revisar fuentes oficiales.'\n            : candidate.diffType === 'minor'\n              ? 'Evidencia parcial basada en metadata; upgrade incremental con riesgo acotado si la cobertura actual es razonable.'\n              : 'Evidencia parcial basada en metadata; patch orientado a fixes y estabilidad.';\n  return `Spec ${declaredSpec}. Wanted ${wantedVersion}; latest ${latestVersion}. ${tone}${publishedAt ? ` Latest published ${publishedAt}.` : ''}`;\n};\nconst buildSources = (candidate) => {\n  const npmPackageName = getResolution(candidate).registryPackageName ?? candidate.name;\n  const sources = [{ packageName: candidate.name, label: 'npm', url: `https://www.npmjs.com/package/${npmPackageName}` }];\n  if (candidate.repositoryUrl) sources.push({ packageName: candidate.name, label: 'repository', url: candidate.repositoryUrl });\n  return sources;\n};\nconst shallowBriefs = shallowCandidates.map((candidate) => {\n  const displayStatus = getDisplayStatus(candidate);\n  const comparisonStatus = getComparisonStatus(candidate);\n  return {\n    name: candidate.name,\n    summary: summarize(candidate),\n    breakingChanges: [],\n    testFocus: candidate.deprecated\n      ? ['Validar rutas donde aun dependa el paquete deprecated', 'Buscar reemplazo funcional antes del siguiente release']\n      : displayStatus === 'manual_review'\n        ? ['Verificar manualmente el spec y su canal antes de cambiar el comportamiento actual', 'Confirmar compatibilidad técnica con build, imports y runtime']\n        : comparisonStatus === 'outdated'\n          ? ['Smoke test del flujo principal afectado', 'Validar build, imports y arranque del proyecto']\n          : ['No requiere cambio inmediato en package.json', 'Volver a revisar solo si cambia el spec declarado o aparece nueva evidencia'],\n    riskLevel: candidate.deprecated || candidate.diffType === 'major' || displayStatus === 'manual_review'\n      ? 'high'\n      : candidate.diffType === 'minor'\n        ? 'medium'\n        : 'low',\n    confidence: displayStatus === 'manual_review' ? 'low' : 'medium',\n    evidenceStatus: 'partial',\n    recommendedActions: candidate.deprecated\n      ? ['Congelar nuevas integraciones sobre este paquete', 'Priorizar sustitucion o remocion gradual']\n      : displayStatus === 'manual_review'\n        ? ['Tratar este paquete como manual review/custom spec antes de proponer upgrades', 'Revisar wanted/latest y confirmar si corresponde mantener el comportamiento actual']\n        : comparisonStatus === 'outdated'\n          ? ['Aplicar upgrade en una rama corta', 'Confirmar que no cambie el build ni el runtime']\n          : ['No abrir un ticket de upgrade solo por este paquete', 'Reevaluarlo si cambia el spec declarado o la latest del registry'],\n    sources: buildSources(candidate)\n  };\n});\nconst allCandidates = Array.isArray(base.allCandidates) ? base.allCandidates : [];\nconst briefMap = new Map();\nfor (const brief of shallowBriefs) briefMap.set(brief.name, brief);\nfor (const brief of deepBriefs) briefMap.set(brief.name, brief);\nconst packageBriefs = allCandidates.map((candidate) => briefMap.get(candidate.name)).filter(Boolean);\nconst sources = [];\nconst seen = new Set();\nfor (const brief of packageBriefs) {\n  for (const source of brief.sources ?? []) {\n    const key = `${source.packageName}|${source.label}|${source.url}`;\n    if (!seen.has(key)) {\n      seen.add(key);\n      sources.push(source);\n    }\n  }\n}\nconst evidenceCoverage = { verified: 0, partial: 0, none: 0 };\nfor (const brief of packageBriefs) {\n  const key = ['verified', 'partial', 'none'].includes(brief.evidenceStatus) ? brief.evidenceStatus : 'none';\n  evidenceCoverage[key] += 1;\n}\nconst verifiedPackages = packageBriefs.filter((brief) => brief.evidenceStatus === 'verified').map((brief) => brief.name);\nconst partialPackages = packageBriefs.filter((brief) => brief.evidenceStatus === 'partial').map((brief) => brief.name);\nconst nonePackages = packageBriefs.filter((brief) => brief.evidenceStatus === 'none').map((brief) => brief.name);\nconst actionablePackages = allCandidates\n  .filter((candidate) => getComparisonStatus(candidate) === 'outdated' || candidate.deprecated)\n  .map((candidate) => candidate.name);\nconst coveredByRangePackages = allCandidates\n  .filter((candidate) => getDisplayStatus(candidate) === 'covered_by_range')\n  .map((candidate) => candidate.name);\nconst alignedPackages = allCandidates\n  .filter((candidate) => getDisplayStatus(candidate) === 'up_to_date')\n  .map((candidate) => candidate.name);\nconst manualReviewPackages = allCandidates\n  .filter((candidate) => getDisplayStatus(candidate) === 'manual_review')\n  .map((candidate) => candidate.name);\nreturn [{ json: { analysisId: base.analysisId, projectName: base.projectName, dependencyStats: base.dependencyStats, allCandidates, quickWins: base.quickWins ?? [], highRisk: base.highRisk ?? [], packageBriefs, sources, evidenceCoverage, verifiedPackages, partialPackages, nonePackages, actionablePackages, coveredByRangePackages, alignedPackages, manualReviewPackages } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1904,
        2656
      ],
      "id": "d68ea652-f004-413c-9fae-6aa85fd24b0d",
      "name": "Merge package briefs"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst parsed = raw.output ?? raw.response ?? raw;\n\nconst base = $('Merge package briefs').first().json;\nconst coverage = base.evidenceCoverage ?? { verified: 0, partial: 0, none: 0 };\n\nconst fallbackPlan = [\n  {\n    wave: 1,\n    title: 'Fase 1 - Quick wins controlados',\n    rationale: 'Aplicar upgrades con menor riesgo y evidencia suficiente para mover rapido sin romper la base del proyecto.',\n    packages: (base.quickWins ?? []).map((pkg) => pkg.name).filter(Boolean)\n  },\n  {\n    wave: 2,\n    title: 'Fase 2 - Riesgo alto y deprecated',\n    rationale: 'Resolver majors, paquetes deprecated y cambios con mayor necesidad de validacion antes de mergear.',\n    packages: (base.highRisk ?? []).map((pkg) => pkg.name).filter(Boolean)\n  }\n];\n\nconst fallbackSummary = `Se completo la investigacion por paquete para ${base.projectName}. Cobertura actual: ${coverage.verified} paquetes con evidencia verified, ${coverage.partial} con evidencia partial y ${coverage.none} sin evidencia suficiente. Si la sintesis automatica no puede verificarse, usa los packageBriefs como fuente principal para decidir el plan de upgrade.`;\n\nconst fallbackSlackDigest = `Investigacion completada para ${base.projectName}: ${coverage.verified} verified, ${coverage.partial} partial, ${coverage.none} none. Prioriza high risk y deprecated antes de mergear.`;\n\nconst resolved =\n  parsed && typeof parsed === 'object' && !Array.isArray(parsed)\n    ? parsed\n    : {\n        analysisId: base.analysisId,\n        status: 'completed',\n        executiveSummaryMd: fallbackSummary,\n        upgradePlan: fallbackPlan,\n        slackDigestMd: fallbackSlackDigest,\n        sources: base.sources ?? []\n      };\n\nconst allowedSources = new Map();\nfor (const source of base.sources ?? []) {\n  const packageName = String(source?.packageName ?? '');\n  const label = String(source?.label ?? '');\n  const url = String(source?.url ?? '');\n  if (!packageName || !label || !url) continue;\n  if (!allowedSources.has(url)) {\n    allowedSources.set(url, { packageName, label, url });\n  }\n}\n\nconst dedupedSources = [];\nconst seen = new Set();\n\nfor (const source of [...(resolved.sources ?? []), ...(base.sources ?? [])]) {\n  const url = String(source?.url ?? '');\n  const canonical = allowedSources.get(url);\n  if (!canonical) continue;\n\n  const key = `${canonical.packageName}|${canonical.label}|${canonical.url}`;\n  if (seen.has(key)) continue;\n\n  seen.add(key);\n  dedupedSources.push(canonical);\n}\n\nreturn [\n  {\n    json: {\n      analysisId: resolved.analysisId || base.analysisId,\n      status: 'completed',\n      executiveSummaryMd: resolved.executiveSummaryMd ?? fallbackSummary,\n      upgradePlan: Array.isArray(resolved.upgradePlan) ? resolved.upgradePlan : fallbackPlan,\n      packageBriefs: base.packageBriefs ?? [],\n      slackDigestMd: resolved.slackDigestMd ?? fallbackSlackDigest,\n      sources: dedupedSources\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        2576
      ],
      "id": "d131b618-8c86-4e47-b9df-337869f54d74",
      "name": "Build completed callback"
    },
    {
      "parameters": {
        "jsCode": "const source = $input.first().json;\nconst fallback = $('Validate input').first().json;\nconst base = $('Merge package briefs').first()?.json ?? null;\n\nconst message =\n  source.error?.message ??\n  source.message ??\n  source.statusMessage ??\n  'No se pudo generar el brief final en n8n. Revisa Groq o el parser y vuelve a intentar.';\n\nif (base?.packageBriefs?.length) {\n  const coverage = base.evidenceCoverage ?? { verified: 0, partial: 0, none: 0 };\n\n  return [\n    {\n      json: {\n        analysisId: base.analysisId ?? fallback.analysisId,\n        status: 'completed',\n        executiveSummaryMd: `Se completo la investigacion por paquete, pero fallo la sintesis ejecutiva automatizada. ${message}`,\n        upgradePlan: [\n          {\n            wave: 1,\n            title: 'Fase 1 - Quick wins controlados',\n            rationale: 'Mover quick wins con validacion basica mientras se revisan cambios sensibles.',\n            packages: (base.quickWins ?? []).map((pkg) => pkg.name).filter(Boolean)\n          },\n          {\n            wave: 2,\n            title: 'Fase 2 - Riesgo alto y deprecated',\n            rationale: 'Resolver majors, deprecated y paquetes con evidencia que requiere revision adicional.',\n            packages: (base.highRisk ?? []).map((pkg) => pkg.name).filter(Boolean)\n          }\n        ],\n        packageBriefs: base.packageBriefs,\n        slackDigestMd: `Sintesis ejecutiva degradada: ${coverage.verified} verified, ${coverage.partial} partial, ${coverage.none} none. Usa packageBriefs y fuentes antes de mergear.`,\n        sources: base.sources ?? []\n      }\n    }\n  ];\n}\n\nreturn [\n  {\n    json: {\n      analysisId: fallback.analysisId,\n      status: 'failed',\n      executiveSummaryMd: message,\n      upgradePlan: [],\n      packageBriefs: [],\n      sources: []\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1200,
        2768
      ],
      "id": "3b5bb7a5-19af-41c7-bdf9-d48eb2d8375a",
      "name": "Build failed callback"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://hackathon.jamesjh.top/api/internal/n8n/callback",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-n8n-signature",
              "value": "=amFtZXNqaDoxMjM0ODc2NQ=="
            },
            {
              "name": "x-idempotency-key",
              "value": "={{ $json.analysisId }}-{{$execution.id}}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "options": {
          "timeout": 20000
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -944,
        2656
      ],
      "id": "1c90a970-aacd-4632-8edf-b1864f72740e",
      "name": "HTTP Request: callback app",
      "retryOnFail": true,
      "maxTries": 4,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Genera el brief final del proyecto a partir de la investigación consolidada.\n\nObjetivos:\n- executiveSummaryMd: resumir el estado general del upgrade, la cobertura de evidencia, los focos de riesgo y la estrategia recomendada.\n- upgradePlan: secuenciar el trabajo en fases ejecutables para developers.\n- slackDigestMd: producir un digest corto, accionable y compartible.\n- sources: reutilizar solo fuentes de la entrada.\n\nCómo sintetizar:\n- analysisId debe coincidir exactamente con el analysisId de entrada.\n- status debe ser siempre \"completed\".\n- Usa packageBriefs como base factual y no vuelvas a investigar.\n- dependencyStats.outdated y actionablePackages representan cambios reales en package.json.\n- Usa coveredByRangePackages y alignedPackages para mencionar dependencias ya cubiertas o alineadas; no las llames desactualizadas.\n- Usa manualReviewPackages para separar explícitamente la revisión manual de los upgrades reales.\n- Da más peso a packageBriefs con evidenceStatus verified.\n- Usa partialPackages y nonePackages para calibrar el nivel de cautela.\n- Si existe mezcla de upgrades simples y cambios potencialmente disruptivos, separa la ejecución por fases.\n- Diferencia con claridad quick wins frente a high risk.\n- Si la cobertura verificada es limitada, dilo explícitamente y propone validación adicional antes de merges amplios.\n\nQué no hacer:\n- No inventes paquetes o fuentes.\n- No conviertas incertidumbre en afirmaciones tajantes.\n- No repitas cada packageBrief casi textual; sintetiza y prioriza.\n- No metas coveredByRangePackages ni alignedPackages en el upgradePlan salvo como contexto narrativo.\n\nEntrada:\n{{ JSON.stringify({\n  analysisId: $json.analysisId,\n  projectName: $json.projectName,\n  dependencyStats: $json.dependencyStats,\n  quickWins: $json.quickWins,\n  highRisk: $json.highRisk,\n  actionablePackages: $json.actionablePackages,\n  coveredByRangePackages: $json.coveredByRangePackages,\n  alignedPackages: $json.alignedPackages,\n  manualReviewPackages: $json.manualReviewPackages,\n  evidenceCoverage: $json.evidenceCoverage,\n  verifiedPackages: $json.verifiedPackages,\n  partialPackages: $json.partialPackages,\n  nonePackages: $json.nonePackages,\n  packageBriefs: $json.packageBriefs,\n  sources: $json.sources\n}, null, 2) }}\n",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "Eres un analista senior de upgrades para dependencias npm.\n\nDevuelve exclusivamente datos que cumplan el schema del output parser.\nTodo el texto orientado al usuario debe estar principalmente en español técnico natural, permitiendo anglicismos comunes entre programadores cuando mejoren la claridad.\n\nCampos que deben salir en español:\n- executiveSummaryMd\n- upgradePlan.title\n- upgradePlan.rationale\n- slackDigestMd\n\nCampos fijos:\n- analysisId debe coincidir exactamente con el analysisId de entrada.\n- status debe ser siempre \"completed\".\n\nTerminología:\n- Usa \"Fase 1\", \"Fase 2\", etc. en el texto visible.\n- El campo JSON técnico sigue llamándose wave y debe ser un entero correlativo.\n- No uses \"wave\", \"waves\", \"onda\" u \"olas\" dentro del texto final.\n- Puedes mantener anglicismos comunes como upgrade, deprecated, breaking changes, quick wins y heavy lifts cuando mejoren la claridad.\n- No traduzcas nombres de paquetes, versiones, identificadores de código, URLs, nombres de archivos ni texto técnico dentro de backticks.\n- Usa una terminología consistente para una audiencia de developers hispanohablantes. Es recomendable usar anglicismos comunes entre programadores cuando mejoren la claridad.\n\nRol:\n- Actúa como sintetizador y priorizador del proyecto, no como re-investigador por paquete.\n- Usa packageBriefs como base factual.\n- No reescribas ni alteres el contenido factual de packageBriefs.\n\nReglas de precisión:\n- No inventes paquetes, fuentes, breaking changes, riesgos ni URLs.\n- Los claims fuertes solo pueden apoyarse en packageBriefs con evidenceStatus verified.\n- Si la evidencia es partial o none, dilo explícitamente y evita lenguaje tajante.\n- No agregues sources fuera de la lista de sources de entrada.\n- Nunca llames desactualizada a una dependencia presente en coveredByRangePackages o alignedPackages.\n- Trata manualReviewPackages como trabajo de revisión manual, no como upgrade directo confirmado.\n- No conviertas incertidumbre en una recomendación de merge agresiva.\n\nReglas de estilo:\n- executiveSummaryMd debe ser narrativo, técnico y útil; no una lista plana.\n- Puedes usar Markdown dentro de executiveSummaryMd y slackDigestMd.\n- Resalta en negrita números o datos especialmente relevantes si mejora la legibilidad.\n- No devuelvas HTML.\n- slackDigestMd debe ser breve, claro y listo para compartir.\n\nReglas de priorización:\n- Separa quick wins, high risk, manual review y paquetes ya cubiertos por el spec cuando sea relevante.\n- Prioriza actionablePackages, paquetes deprecated, cambios major y dependencias con mayor riskScore.\n- Usa evidenceCoverage, verifiedPackages, partialPackages y nonePackages para calibrar la confianza del plan.\n- Si la cobertura verified es baja, recomiéndalo explícitamente antes de merges amplios.\n- Si hay paquetes con evidenceStatus none, trátalos como validación obligatoria antes de tocar áreas críticas.\n- Usa coveredByRangePackages y alignedPackages solo como contexto no accionable; no los conviertas en backlog de upgrade.\n\nReglas para upgradePlan:\n- Debe tener entre 2 y 4 fases realistas.\n- Cada fase debe tener un objetivo claro y un rationale accionable.\n- Agrupa paquetes de forma coherente, no arbitraria.\n- Limita upgradePlan.packages a actionablePackages y manualReviewPackages cuando haya trabajo real.\n- Evita duplicar el mismo paquete en varias fases salvo necesidad clara.\n- La secuencia debe sentirse ejecutable por un equipo técnico real.\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -1680,
        2544
      ],
      "id": "ab54a8c2-ffaf-45a1-ad87-99f05b7731d5",
      "name": "Basic LLM Chain",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"properties\": {\n    \"analysisId\": {\n      \"type\": \"string\"\n    },\n    \"status\": {\n      \"type\": \"string\",\n      \"enum\": [\"completed\"]\n    },\n    \"executiveSummaryMd\": {\n      \"type\": \"string\"\n    },\n    \"upgradePlan\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"wave\": {\n            \"type\": \"integer\"\n          },\n          \"title\": {\n            \"type\": \"string\"\n          },\n          \"rationale\": {\n            \"type\": \"string\"\n          },\n          \"packages\": {\n            \"type\": \"array\",\n            \"items\": {\n              \"type\": \"string\"\n            }\n          }\n        },\n        \"required\": [\"wave\", \"title\", \"rationale\", \"packages\"]\n      }\n    },\n    \"slackDigestMd\": {\n      \"type\": \"string\"\n    },\n    \"sources\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"packageName\": {\n            \"type\": \"string\"\n          },\n          \"label\": {\n            \"type\": \"string\",\n            \"enum\": [\n              \"npm\",\n              \"github-release\",\n              \"changelog\",\n              \"migration-guide\",\n              \"docs\",\n              \"fallback-search\",\n              \"repository\"\n            ]\n          },\n          \"url\": {\n            \"type\": \"string\"\n          }\n        },\n        \"required\": [\"packageName\", \"label\", \"url\"]\n      }\n    }\n  },\n  \"required\": [\n    \"analysisId\",\n    \"status\",\n    \"executiveSummaryMd\",\n    \"upgradePlan\",\n    \"slackDigestMd\",\n    \"sources\"\n  ]\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -1616,
        2720
      ],
      "id": "4e3320d1-8f0e-428a-af3b-e3fff02274e1",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite-preview",
        "options": {
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -1744,
        2880
      ],
      "id": "01a4d30a-b76e-4f06-942b-e2258c7b669c",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "lplcQhz41qHiTqeQ",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "connections": {
    "dependency-analysis": {
      "main": [
        [
          {
            "node": "Validate input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate input": {
      "main": [
        [
          {
            "node": "Normalize candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize candidates": {
      "main": [
        [
          {
            "node": "Tier packages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tier packages": {
      "main": [
        [
          {
            "node": "IF deep candidates?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF deep candidates?": {
      "main": [
        [
          {
            "node": "Prepare deep research items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge package briefs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare deep research items": {
      "main": [
        [
          {
            "node": "Call 'package-research'",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call 'package-research'": {
      "main": [
        [
          {
            "node": "Merge package briefs",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge package briefs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge package briefs": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build completed callback": {
      "main": [
        [
          {
            "node": "HTTP Request: callback app",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build failed callback": {
      "main": [
        [
          {
            "node": "HTTP Request: callback app",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Build completed callback",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build failed callback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e490f8befecaf7a9f4d99d1603a8853f049a2db15b61a8bb1289ed6e3e60c4ff"
  }
}