n8n/package-research.json
{
  "name": "package-research",
  "nodes": [
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "analysisId",
              "type": "string"
            },
            {
              "name": "projectName",
              "type": "string"
            },
            {
              "name": "dependencyStats",
              "type": "any"
            },
            {
              "name": "allCandidates",
              "type": "any"
            },
            {
              "name": "deepCandidate",
              "type": "any"
            },
            {
              "name": "candidatePosition",
              "type": "number"
            },
            {
              "name": "totalDeepCandidates",
              "type": "number"
            },
            {
              "name": "skipResearch",
              "type": "boolean"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -544,
        1984
      ],
      "id": "f8e80ef9-9704-4184-a6bc-e0e043c63faa",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst candidate = data.deepCandidate ?? null;\nconst repoUrl = candidate?.repositoryUrl ?? candidate?.sourceUrls?.find((url) => String(url).includes('github.com')) ?? null;\nconst match = typeof repoUrl === 'string' ? repoUrl.match(/github\\.com\\/([^/]+)\\/([^/#?]+)/i) : null;\nconst repoSlug = match ? (match[1] + '/' + match[2]).replace(/\\.git$/i, '') : null;\nconst github = repoSlug ? { owner: repoSlug.split('/')[0], repo: repoSlug.split('/')[1], repoSlug } : null;\nconst cleanVersion = (value) => {\n  if (!value) return null;\n  const versionMatch = String(value).match(/(\\d+\\.\\d+\\.\\d+(?:[-+][0-9A-Za-z.-]+)?)/);\n  return versionMatch ? versionMatch[1] : null;\n};\nreturn [{ json: { ...data, deepCandidate: candidate, repoUrl, github, npmUrl: candidate ? ('https://www.npmjs.com/package/' + candidate.name) : null, currentVersionClean: candidate ? cleanVersion(candidate.currentVersion) : null, latestVersionClean: candidate ? cleanVersion(candidate.latestVersion) : null, skipResearch: Boolean(data.skipResearch || !candidate) } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -304,
        1984
      ],
      "id": "ba871b1f-cfed-4dd6-b02e-5c3b3c5a1171",
      "name": "Normalize package context"
    },
    {
      "parameters": {
        "url": "={{ $json.skipResearch ? 'https://registry.npmjs.org/-/ping' : 'https://registry.npmjs.org/' + encodeURIComponent($json.deepCandidate.name) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -64,
        1984
      ],
      "id": "6582797e-8042-4416-a93b-31e781bdac65",
      "name": "npm registry metadata"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Normalize package context').first().json.github?.repoSlug ?? '' }}",
              "operation": "notEmpty"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        176,
        1984
      ],
      "id": "87ba1bec-31cb-4c87-9617-ae5508782db0",
      "name": "IF GitHub repo?"
    },
    {
      "parameters": {
        "url": "={{ 'https://api.github.com/repos/' + $('Normalize package context').first().json.github.repoSlug + '/releases?per_page=10' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.GITHUB_TOKEN}}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        1856
      ],
      "id": "c15bc92b-935b-4a7a-be8e-e2630765b1a8",
      "name": "GitHub releases"
    },
    {
      "parameters": {
        "url": "={{ 'https://api.github.com/repos/' + $('Normalize package context').first().json.github.repoSlug + '/contents' }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.GITHUB_TOKEN}}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        624,
        1856
      ],
      "id": "bee76b3f-bd69-4f3a-80bf-5746a822ae95",
      "name": "GitHub contents index"
    },
    {
      "parameters": {
        "jsCode": "const context = $('Normalize package context').first().json;\nconst contents = Array.isArray($input.first().json) ? $input.first().json : [];\nconst classify = (entry) => {\n  const fileName = String(entry?.name ?? '').toLowerCase();\n  if (!fileName || !entry?.url) return null;\n  if (fileName.includes('migration') || fileName.includes('upgrade')) return { name: entry.name, path: entry.path, apiUrl: entry.url, downloadUrl: entry.download_url ?? null, htmlUrl: entry.html_url ?? entry.download_url ?? context.repoUrl, label: 'migration-guide', priority: 1 };\n  if (fileName.includes('changelog') || fileName === 'changes.md' || fileName === 'history.md' || fileName.includes('release-notes')) return { name: entry.name, path: entry.path, apiUrl: entry.url, downloadUrl: entry.download_url ?? null, htmlUrl: entry.html_url ?? entry.download_url ?? context.repoUrl, label: 'changelog', priority: 2 };\n  if (fileName === 'readme.md') return { name: entry.name, path: entry.path, apiUrl: entry.url, downloadUrl: entry.download_url ?? null, htmlUrl: entry.html_url ?? entry.download_url ?? context.repoUrl, label: 'docs', priority: 3 };\n  return null;\n};\nconst docCandidates = contents.map(classify).filter(Boolean).sort((left, right) => left.priority - right.priority || left.name.localeCompare(right.name));\nreturn [{ json: { ...context, docCandidates: docCandidates.slice(0, 3), primaryDocTarget: docCandidates[0] ?? null } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        832,
        1920
      ],
      "id": "63f583a7-fe41-4fe0-affd-17ce397e9596",
      "name": "Select documentation target"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Select documentation target').first().json.primaryDocTarget?.apiUrl ?? '' }}",
              "operation": "notEmpty"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1040,
        1968
      ],
      "id": "13165c50-8cab-4aed-80bf-870dd330705d",
      "name": "IF documentation target?"
    },
    {
      "parameters": {
        "url": "={{ $('Select documentation target').first().json.primaryDocTarget.apiUrl }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$env.GITHUB_TOKEN}}"
            },
            {
              "name": "Accept",
              "value": "application/vnd.github+json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1248,
        1904
      ],
      "id": "5b90fc06-a621-4593-9e13-164764944d29",
      "name": "GitHub documentation raw"
    },
    {
      "parameters": {
        "jsCode": "const getFirstJson = (name, fallback) => {\n  try {\n    return $(name).first()?.json ?? fallback;\n  } catch (error) {\n    return fallback;\n  }\n};\nconst context = $('Normalize package context').first().json;\nconst npm = getFirstJson('npm registry metadata', {});\nconst releases = getFirstJson('GitHub releases', []);\nconst docSelection = getFirstJson('Select documentation target', {});\nconst docPayload = getFirstJson('GitHub documentation raw', null);\nconst candidate = context.deepCandidate;\nif (context.skipResearch || !candidate) {\n  return [{ json: { ...context, canonicalEvidence: [], canonicalEvidenceStatus: 'none', needsFallback: true } }];\n}\nconst cleanVersion = (value) => {\n  if (!value) return null;\n  const versionMatch = String(value).match(/(\\d+\\.\\d+\\.\\d+(?:[-+][0-9A-Za-z.-]+)?)/);\n  return versionMatch ? versionMatch[1] : null;\n};\nconst parseSemver = (value) => {\n  const cleaned = cleanVersion(value);\n  if (!cleaned) return null;\n  const match = cleaned.match(/^(\\d+)\\.(\\d+)\\.(\\d+)/);\n  if (!match) return null;\n  return { raw: cleaned, major: Number(match[1]), minor: Number(match[2]), patch: Number(match[3]) };\n};\nconst compareSemver = (left, right) => {\n  if (!left || !right) return 0;\n  if (left.major !== right.major) return left.major - right.major;\n  if (left.minor !== right.minor) return left.minor - right.minor;\n  return left.patch - right.patch;\n};\nconst pickDocExcerpt = (text, versions) => {\n  const source = String(text ?? '').replace(/\\r/g, '');\n  if (!source.trim()) return '';\n  const needles = versions.filter(Boolean).flatMap((value) => [value, 'v' + value, '[' + value + ']']).map((value) => String(value).toLowerCase());\n  const haystack = source.toLowerCase();\n  let index = -1;\n  for (const needle of needles) {\n    const found = haystack.indexOf(needle);\n    if (found >= 0) {\n      index = found;\n      break;\n    }\n  }\n  if (index < 0) return source.slice(0, 1400);\n  const start = Math.max(0, index - 220);\n  return source.slice(start, start + 1400);\n};\nconst decodeDocContent = (payload) => {\n  if (!payload) return '';\n  if (typeof payload === 'string') return payload;\n  if (typeof payload.content === 'string') {\n    if (payload.encoding === 'base64') {\n      try {\n        return Buffer.from(payload.content.replace(/\\n/g, ''), 'base64').toString('utf8');\n      } catch (error) {\n        return '';\n      }\n    }\n    return payload.content;\n  }\n  return '';\n};\nconst currentPublishedAt = context.currentVersionClean && npm?.time?.[context.currentVersionClean] ? npm.time[context.currentVersionClean] : null;\nconst latestPublishedAt = context.latestVersionClean && npm?.time?.[context.latestVersionClean] ? npm.time[context.latestVersionClean] : null;\nconst metadataBits = [\n  'Current ' + candidate.currentVersion,\n  'latest ' + candidate.latestVersion,\n  'diff ' + candidate.diffType,\n  'deprecated ' + candidate.deprecated,\n  currentPublishedAt ? ('current published ' + currentPublishedAt) : null,\n  latestPublishedAt ? ('latest published ' + latestPublishedAt) : null,\n  npm?.['dist-tags']?.latest ? ('dist-tag latest ' + npm['dist-tags'].latest) : null\n].filter(Boolean).join('; ');\nconst evidence = [{ packageName: candidate.name, label: 'npm', url: context.npmUrl, title: 'npm metadata', excerpt: metadataBits, confidence: 'high' }];\nlet deprecatedMessage = null;\nfor (const key of [context.latestVersionClean, candidate.latestVersion, context.currentVersionClean, candidate.currentVersion]) {\n  if (key && npm?.versions?.[key]?.deprecated) {\n    deprecatedMessage = npm.versions[key].deprecated;\n    break;\n  }\n}\nif (deprecatedMessage || candidate.deprecated) {\n  evidence.push({ packageName: candidate.name, label: 'npm', url: context.npmUrl, title: 'deprecation notice', excerpt: String(deprecatedMessage ?? 'npm y el analisis base marcan este paquete como deprecated.'), confidence: 'high' });\n}\nconst currentParsed = parseSemver(context.currentVersionClean ?? candidate.currentVersion);\nconst latestParsed = parseSemver(context.latestVersionClean ?? candidate.latestVersion);\nconst releaseList = Array.isArray(releases) ? releases : [];\nconst relevantReleases = releaseList.filter((release) => {\n  const parsed = parseSemver(String(release?.tag_name ?? release?.name ?? ''));\n  if (!parsed) return false;\n  if (latestParsed && compareSemver(parsed, latestParsed) > 0) return false;\n  if (currentParsed && compareSemver(parsed, currentParsed) <= 0) return false;\n  return true;\n});\nconst selectedReleases = (relevantReleases.length ? relevantReleases : releaseList).slice(0, 4);\nfor (const release of selectedReleases) {\n  const body = String(release?.body ?? '').trim();\n  if (body.length < 40) continue;\n  evidence.push({ packageName: candidate.name, label: 'github-release', url: release.html_url ?? context.repoUrl ?? context.npmUrl, title: release.name ?? release.tag_name ?? 'release', excerpt: body.slice(0, 1400), publishedAt: release.published_at ?? null, confidence: 'high' });\n}\nconst primaryDocTarget = docSelection.primaryDocTarget ?? null;\nconst docContent = decodeDocContent(docPayload);\nif (primaryDocTarget && docContent.trim()) {\n  evidence.push({ packageName: candidate.name, label: primaryDocTarget.label, url: primaryDocTarget.htmlUrl ?? primaryDocTarget.downloadUrl ?? context.repoUrl ?? context.npmUrl, title: primaryDocTarget.name, excerpt: pickDocExcerpt(docContent, [context.latestVersionClean, context.currentVersionClean]), confidence: primaryDocTarget.label === 'docs' ? 'medium' : 'high' });\n} else if (!selectedReleases.length && typeof npm?.readme === 'string' && npm.readme.trim()) {\n  evidence.push({ packageName: candidate.name, label: 'docs', url: context.npmUrl, title: 'README from npm registry', excerpt: pickDocExcerpt(npm.readme, [context.latestVersionClean, context.currentVersionClean]), confidence: 'medium' });\n}\nconst verifiedCanonicalEvidence = evidence.filter((entry) => {\n  if (entry.label === 'npm' && entry.title === 'deprecation notice') return true;\n  if (!['github-release', 'changelog', 'migration-guide'].includes(entry.label)) return false;\n  return String(entry.excerpt ?? '').trim().length >= 80;\n});\nconst canonicalEvidenceStatus = verifiedCanonicalEvidence.length ? 'verified' : evidence.length ? 'partial' : 'none';\nreturn [{ json: { ...context, canonicalEvidence: evidence.slice(0, 8), canonicalEvidenceStatus, needsFallback: verifiedCanonicalEvidence.length === 0, primaryDocTarget } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1392,
        2240
      ],
      "id": "2e4ee91f-2049-4b25-89a4-e89d3c306af4",
      "name": "Extract evidence window"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ String(!$json.needsFallback) }}",
              "value2": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -16,
        2464
      ],
      "id": "822fc673-cda1-4e03-866d-f69396f503cc",
      "name": "IF canonical evidence enough?"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ api_key: $env.TAVILY_API_KEY, query: `${$('Normalize package context').first().json.deepCandidate.name} ${$('Normalize package context').first().json.currentVersionClean ?? $('Normalize package context').first().json.deepCandidate.currentVersion} to ${$('Normalize package context').first().json.latestVersionClean ?? $('Normalize package context').first().json.deepCandidate.latestVersion} release notes changelog migration guide ${$('Normalize package context').first().json.github?.repoSlug ?? ''}`.trim(), search_depth: 'advanced', max_results: 4, include_domains: $('Normalize package context').first().json.github?.owner ? ['github.com', 'npmjs.com'] : ['npmjs.com'] }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        64,
        2688
      ],
      "id": "0a81cfbd-5569-4c08-8c9a-77de5345cd7c",
      "name": "Tavily Search",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/extract",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ api_key: $env.TAVILY_API_KEY, urls: (($('Tavily Search').first().json.results ?? []).slice(0, 2).map((entry) => entry.url)) }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        240,
        2544
      ],
      "id": "3727e4e8-404e-4d47-8fa8-7cf19291cb27",
      "name": "Tavily Extract",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "const base = $('Extract evidence window').first().json;\nconst fallbackResults = $('Tavily Search').first()?.json?.results ?? [];\nconst extracts = $('Tavily Extract').first()?.json?.results ?? [];\nconst candidate = base.deepCandidate;\nconst evidence = [];\nconst seen = new Set();\nconst isVerifiedSource = (entry) => {\n  if (entry.label === 'npm' && entry.title === 'deprecation notice') return true;\n  if (!['github-release', 'changelog', 'migration-guide'].includes(entry.label)) return false;\n  return String(entry.excerpt ?? '').trim().length >= 80;\n};\nfor (const source of base.canonicalEvidence ?? []) {\n  const key = `${source.label}|${source.url}`;\n  if (!seen.has(key)) {\n    seen.add(key);\n    evidence.push(source);\n  }\n}\nfor (const extract of extracts.slice(0, 2)) {\n  const url = extract.url ?? extract.metadata?.url ?? null;\n  if (!url || seen.has(`fallback-search|${url}`)) continue;\n  seen.add(`fallback-search|${url}`);\n  evidence.push({ packageName: candidate.name, label: 'fallback-search', url, title: extract.title ?? 'fallback source', excerpt: String(extract.raw_content ?? extract.content ?? '').slice(0, 1400), confidence: 'low' });\n}\nfor (const result of fallbackResults.slice(0, 2)) {\n  const url = result.url ?? null;\n  if (!url || seen.has(`fallback-search|${url}`)) continue;\n  seen.add(`fallback-search|${url}`);\n  evidence.push({ packageName: candidate.name, label: 'fallback-search', url, title: result.title ?? 'fallback search result', excerpt: String(result.content ?? '').slice(0, 600), confidence: 'low' });\n}\nconst evidenceStatus = evidence.some(isVerifiedSource) ? 'verified' : evidence.length ? 'partial' : 'none';\nreturn [{ json: { ...base, evidence: evidence.slice(0, 8), evidenceStatus } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        512,
        2512
      ],
      "id": "9e59e63b-8834-44a9-898e-e3e95cdaf6f1",
      "name": "Score and dedupe evidence"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst parsed = raw.output ?? raw;\n\nconst prep = $('Score and dedupe evidence').first().json;\nconst candidate = prep.deepCandidate;\n\nconst fallbackBrief = {\n  name: candidate.name,\n  summary:\n    prep.evidenceStatus === 'verified'\n      ? `Upgrade ${candidate.currentVersion} -> ${candidate.latestVersion} con evidencia verificada para revisar antes del merge.`\n      : prep.evidenceStatus === 'partial'\n        ? `Upgrade ${candidate.currentVersion} -> ${candidate.latestVersion} con evidencia parcial; revisa fuentes oficiales antes de aplicar cambios sensibles.`\n        : `Upgrade ${candidate.currentVersion} -> ${candidate.latestVersion}. No hubo evidencia suficiente para afirmar breaking changes verificables.`,\n  breakingChanges: [],\n  testFocus: candidate.deprecated\n    ? [\n        'Validar rutas criticas que aun usan el paquete deprecated',\n        'Aislar impacto de la sustitucion o remocion'\n      ]\n    : [\n        'Smoke test del flujo principal afectado',\n        'Verificar build, imports y arranque del proyecto'\n      ],\n  riskLevel:\n    candidate.deprecated || candidate.diffType === 'major'\n      ? 'high'\n      : candidate.diffType === 'minor'\n        ? 'medium'\n        : 'low',\n  confidence:\n    prep.evidenceStatus === 'verified'\n      ? 'high'\n      : prep.evidenceStatus === 'partial'\n        ? 'medium'\n        : 'low',\n  evidenceStatus: prep.evidenceStatus ?? 'none',\n  recommendedActions: candidate.deprecated\n    ? [\n        'Planificar reemplazo o salida gradual',\n        'No expandir nuevas dependencias sobre este paquete'\n      ]\n    : [\n        'Aplicar upgrade en rama corta',\n        'Validar test focus antes de mergear'\n      ],\n  sources: []\n};\n\nconst allowedSources = new Map();\nfor (const entry of prep.evidence ?? []) {\n  const url = String(entry?.url ?? '');\n  const label = String(entry?.label ?? '');\n  if (!url || !label) continue;\n  if (!allowedSources.has(url)) {\n    allowedSources.set(url, {\n      packageName: candidate.name,\n      label,\n      url\n    });\n  }\n}\n\nconst merged = { ...fallbackBrief, ...parsed };\n\nconst sources = [];\nconst seen = new Set();\n\nfor (const source of [\n  ...((merged.sources ?? []).filter(Boolean)),\n  ...((prep.evidence ?? []).map((entry) => ({\n    packageName: candidate.name,\n    label: entry.label,\n    url: entry.url\n  })))\n]) {\n  const url = String(source?.url ?? '');\n  const canonical = allowedSources.get(url);\n  if (!canonical) continue;\n\n  const key = `${canonical.packageName}|${canonical.label}|${canonical.url}`;\n  if (seen.has(key)) continue;\n\n  seen.add(key);\n  sources.push(canonical);\n}\n\nreturn [\n  {\n    json: {\n      packageBrief: {\n        ...merged,\n        name: candidate.name,\n        sources\n      }\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1152,
        2496
      ],
      "id": "20bc4f92-3d42-4901-9b45-590e12671784",
      "name": "Build package brief"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: $input.first().json }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        2496
      ],
      "id": "8017e666-a8b6-48a8-997d-d98ee75dec72",
      "name": "Return data to parent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Genera un brief por paquete usando únicamente la evidencia recibida.\n\nObjetivo:\n- summary: sintetiza el upgrade y el nivel de certeza\n- breakingChanges: enumera solo cambios verificables\n- testFocus: indica validaciones concretas\n- recommendedActions: propone siguientes pasos conservadores\n- sources: reutiliza únicamente las fuentes ya presentes en la evidencia\n\nReglas:\n- No investigues fuera de la entrada.\n- No agregues fuentes nuevas.\n- name debe coincidir exactamente con candidate.name.\n- evidenceStatus debe reflejar el nivel recibido en la entrada.\n- Si evidenceStatus !== 'verified', no afirmes breaking changes salvo una deprecación oficial explícita.\n- Si la evidencia es parcial o débil, dilo claramente en summary.\n- No repitas toda la evidencia; sintetiza.\n\nEntrada:\n{{ JSON.stringify({\n  candidate: $json.deepCandidate,\n  evidenceStatus: $json.evidenceStatus,\n  evidence: $json.evidence\n}, null, 2) }}\n",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "Eres un analista senior de upgrades npm.\nDevuelve exclusivamente datos que cumplan el schema del output parser.\nTodo el texto orientado al usuario debe estar en español técnico natural y ser claro para developers.\n\nRol:\n- Actúa como extractor estricto de evidencia, no como asesor creativo.\n- Resume únicamente lo sustentado por candidate, evidenceStatus y evidence.\n- Usa esta precedencia de evidencia al resolver conflictos: deprecation notice > migration guide > changelog > github-release > docs/readme.\n\nCampos fijos:\n- name debe coincidir exactamente con candidate.name.\n- evidenceStatus debe reflejar el nivel recibido en la entrada.\n\nReglas de precisión:\n- No inventes breaking changes, riesgos, acciones ni fuentes.\n- breakingChanges solo puede incluir cambios sustentados por evidencia verificable.\n- Si evidenceStatus no es verified, breakingChanges debe quedar vacío salvo una deprecación oficial explícita.\n- docs o README solo sirven como contexto secundario; no los uses como breaking change verificado.\n- sources debe usar únicamente URLs presentes en la evidencia de entrada.\n\nReglas de inferencia:\n- Puedes inferir riskLevel, confidence y recommendedActions de forma conservadora usando semver, deprecation y evidenceStatus.\n- Si hay incertidumbre, exprésala explícitamente en summary y evita lenguaje tajante.\n\nReglas de estilo:\n- summary debe ser breve, técnico y accionable.\n- testFocus y recommendedActions deben ser concretos y útiles para un equipo técnico.\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        752,
        2512
      ],
      "id": "a6891582-86df-404d-a731-3d3e7f7eb6d4",
      "name": "Basic LLM Chain",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {
          "maxTokensToSample": 1400,
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        720,
        2704
      ],
      "id": "aafd5c2a-bb1b-467a-9fd4-ed14e9fc84e5",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "Z1d7AmcF6EvlW8cq",
          "name": "Groq API"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"properties\": {\n    \"name\": { \"type\": \"string\" },\n    \"summary\": { \"type\": \"string\" },\n    \"breakingChanges\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" }\n    },\n    \"testFocus\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" }\n    },\n    \"riskLevel\": {\n      \"type\": \"string\",\n      \"enum\": [\"low\", \"medium\", \"high\"]\n    },\n    \"confidence\": {\n      \"type\": \"string\",\n      \"enum\": [\"low\", \"medium\", \"high\"]\n    },\n    \"evidenceStatus\": {\n      \"type\": \"string\",\n      \"enum\": [\"verified\", \"partial\", \"none\"]\n    },\n    \"recommendedActions\": {\n      \"type\": \"array\",\n      \"items\": { \"type\": \"string\" }\n    },\n    \"sources\": {\n      \"type\": \"array\",\n      \"items\": {\n        \"type\": \"object\",\n        \"additionalProperties\": false,\n        \"properties\": {\n          \"packageName\": { \"type\": \"string\" },\n          \"label\": {\n            \"type\": \"string\",\n            \"enum\": [\n              \"npm\",\n              \"github-release\",\n              \"changelog\",\n              \"migration-guide\",\n              \"docs\",\n              \"fallback-search\",\n              \"repository\"\n            ]\n          },\n          \"url\": { \"type\": \"string\" }\n        },\n        \"required\": [\"packageName\", \"label\", \"url\"]\n      }\n    }\n  },\n  \"required\": [\n    \"name\",\n    \"summary\",\n    \"breakingChanges\",\n    \"testFocus\",\n    \"riskLevel\",\n    \"confidence\",\n    \"evidenceStatus\",\n    \"recommendedActions\",\n    \"sources\"\n  ]\n}\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        928,
        2704
      ],
      "id": "cd725395-379d-4189-850d-0e67442794f4",
      "name": "Structured Output Parser"
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Normalize package context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize package context": {
      "main": [
        [
          {
            "node": "npm registry metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "npm registry metadata": {
      "main": [
        [
          {
            "node": "IF GitHub repo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF GitHub repo?": {
      "main": [
        [
          {
            "node": "GitHub releases",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract evidence window",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub releases": {
      "main": [
        [
          {
            "node": "GitHub contents index",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub contents index": {
      "main": [
        [
          {
            "node": "Select documentation target",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select documentation target": {
      "main": [
        [
          {
            "node": "IF documentation target?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF documentation target?": {
      "main": [
        [
          {
            "node": "GitHub documentation raw",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract evidence window",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub documentation raw": {
      "main": [
        [
          {
            "node": "Extract evidence window",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract evidence window": {
      "main": [
        [
          {
            "node": "IF canonical evidence enough?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF canonical evidence enough?": {
      "main": [
        [
          {
            "node": "Score and dedupe evidence",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tavily Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily Search": {
      "main": [
        [
          {
            "node": "Tavily Extract",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Score and dedupe evidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily Extract": {
      "main": [
        [
          {
            "node": "Score and dedupe evidence",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Score and dedupe evidence",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score and dedupe evidence": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build package brief": {
      "main": [
        [
          {
            "node": "Return data to parent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Build package brief",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build package brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "b6fcbcb0-5d7a-4503-9801-e7ba359ae2c3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e490f8befecaf7a9f4d99d1603a8853f049a2db15b61a8bb1289ed6e3e60c4ff"
  },
  "id": "eKaIlg2SgQNSQqgn",
  "tags": []
}
