n8n/package-research.json
{
  "nodes": [
    {
      "parameters": {
        "jsCode": "const readResults = (nodeRef) => {\n  try {\n    const firstJson = nodeRef.first()?.json ?? null;\n\n    if (Array.isArray(firstJson?.results)) {\n      return firstJson.results;\n    }\n\n    return nodeRef\n      .all()\n      .map((item) => item.json)\n      .filter((entry) => entry && typeof entry === 'object');\n  } catch (error) {\n    return [];\n  }\n};;\n\nconst base = $('Extract evidence window').first().json;\nconst fallbackResults = readResults($('Tavily Search'));\nconst extracts = readResults($('Tavily Extract'));\nconst candidate = base.deepCandidate ?? null;\n\nconst PRIORITY = {\n  npm: 5,\n  'migration-guide': 4,\n  changelog: 4,\n  'github-release': 4,\n  'fallback-search': 3,\n  docs: 2,\n  repository: 1\n};\n\nconst MAX_EXCERPT_LENGTH = {\n  npm: 220,\n  'migration-guide': 700,\n  changelog: 700,\n  'github-release': 700,\n  'fallback-search': 320,\n  docs: 280,\n  repository: 240\n};\n\nfunction cleanText(value) {\n  return String(value ?? '')\n    .replace(/\\r/g, ' ')\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\nfunction normalizeLabel(value) {\n  const label = cleanText(value);\n  return label === 'repo' ? 'repository' : label;\n}\n\nfunction normalizeTitle(value, fallback) {\n  const title = cleanText(value);\n  return title || fallback || 'source';\n}\n\nfunction normalizeUrl(value) {\n  return cleanText(value);\n}\n\nfunction buildCandidateMetadata(entry) {\n  return {\n    name: String(entry?.name ?? ''),\n    currentVersion: String(entry?.currentVersion ?? ''),\n    latestVersion: String(entry?.latestVersion ?? ''),\n    group: String(entry?.group ?? ''),\n    diffType: String(entry?.diffType ?? 'unknown'),\n    deprecated: Boolean(entry?.deprecated),\n    publishedAt: entry?.publishedAt ?? null,\n    resolution: entry?.resolution ?? null\n  };\n}\n\nfunction buildFallbackMetadata() {\n  return {\n    candidate: buildCandidateMetadata(candidate),\n    evidenceStatus: 'none',\n    evidence: []\n  };\n}\n\nfunction summarizeRenovateDiff(excerpt) {\n  const text = cleanText(excerpt);\n  const fileMatches = [...text.matchAll(/\\b([A-Za-z0-9._/-]+\\.(?:d\\.ts|ts|tsx|js|jsx|json|md))\\b/g)];\n  const files = [...new Set(fileMatches.map((match) => match[1]))].slice(0, 6);\n\n  const hints = [];\n  if (/index\\.d\\.ts/i.test(text)) hints.push('index.d.ts changed');\n  if (/package\\.json/i.test(text)) hints.push('package.json changed');\n  if (/readme\\.md/i.test(text)) hints.push('README.md changed');\n\n  const parts = [];\n  if (files.length) {\n    parts.push(`Files changed: ${files.join(', ')}`);\n  }\n  if (hints.length) {\n    parts.push(hints.join('; '));\n  }\n\n  return parts.join('. ') || text.slice(0, 320);\n}\n\nfunction isLowSignalEvidence(entry) {\n  const excerpt = entry.excerpt.toLowerCase();\n  const title = entry.title.toLowerCase();\n\n  if (!excerpt) {\n    return true;\n  }\n\n  if (\n    entry.label === 'docs' &&\n    (\n      excerpt.includes('the repository for high quality typescript type definitions') ||\n      excerpt.includes('you can also read this readme in') ||\n      excerpt.includes('justification for new definitions') ||\n      excerpt.includes('make-work prs') ||\n      title === 'readme.md'\n    )\n  ) {\n    return true;\n  }\n\n  if (\n    entry.label === 'fallback-search' &&\n    /terms of service|privacy policy|by logging in|big news!|gitlab|bitbucket|login\\?/.test(excerpt)\n  ) {\n    return true;\n  }\n\n  return false;\n}\n\nfunction isVerifiedSource(entry) {\n  if (entry.label === 'npm' && entry.title === 'deprecation notice') {\n    return true;\n  }\n\n  if (!['github-release', 'changelog', 'migration-guide'].includes(entry.label)) {\n    return false;\n  }\n\n  return entry.excerpt.length >= 80;\n}\n\nfunction normalizeEvidence(entry) {\n  const label = normalizeLabel(entry.label);\n  const url = normalizeUrl(entry.url);\n\n  if (!label || !url) {\n    return null;\n  }\n\n  let excerpt = cleanText(entry.excerpt);\n  if (!excerpt) {\n    return null;\n  }\n\n  if (label === 'fallback-search' && /app\\.renovatebot\\.com\\/package-diff/i.test(url)) {\n    excerpt = summarizeRenovateDiff(excerpt);\n  }\n\n  const normalized = {\n    label,\n    url,\n    title: normalizeTitle(entry.title, label),\n    excerpt: excerpt.slice(0, MAX_EXCERPT_LENGTH[label] ?? 400)\n  };\n\n  if (isLowSignalEvidence(normalized)) {\n    return null;\n  }\n\n  return normalized;\n}\n\nif (!candidate) {\n  const llmBriefInput = buildFallbackMetadata();\n\n  return [\n    {\n      json: {\n        ...base,\n        evidence: [],\n        evidenceStatus: 'none',\n        llmBriefInput\n      }\n    }\n  ];\n}\n\nconst rawEvidence = [];\nconst seenRaw = new Set();\n\nfunction pushRaw(entry) {\n  const label = normalizeLabel(entry.label);\n  const url = normalizeUrl(entry.url);\n\n  if (!label || !url) {\n    return;\n  }\n\n  const key = `${label}|${url}`;\n  if (seenRaw.has(key)) {\n    return;\n  }\n\n  seenRaw.add(key);\n  rawEvidence.push({\n    label,\n    url,\n    title: entry.title,\n    excerpt: entry.excerpt\n  });\n}\n\nfor (const source of base.canonicalEvidence ?? []) {\n  pushRaw(source);\n}\n\nfor (const extract of extracts.slice(0, 2)) {\n  const url = extract.url ?? extract.metadata?.url ?? null;\n\n  pushRaw({\n    label: 'fallback-search',\n    url,\n    title: extract.title ?? 'fallback source',\n    excerpt: extract.raw_content ?? extract.content ?? ''\n  });\n}\n\nfor (const result of fallbackResults.slice(0, 2)) {\n  pushRaw({\n    label: 'fallback-search',\n    url: result.url ?? null,\n    title: result.title ?? 'fallback search result',\n    excerpt: result.content ?? ''\n  });\n}\n\nconst evidence = rawEvidence\n  .map(normalizeEvidence)\n  .filter(Boolean)\n  .sort((left, right) => {\n    const byPriority = (PRIORITY[right.label] ?? 0) - (PRIORITY[left.label] ?? 0);\n    if (byPriority !== 0) {\n      return byPriority;\n    }\n\n    return left.url.localeCompare(right.url);\n  })\n  .slice(0, 4);\n\nconst evidenceStatus = evidence.some(isVerifiedSource)\n  ? 'verified'\n  : evidence.length\n    ? 'partial'\n    : 'none';\n\nconst llmBriefInput = {\n  candidate: buildCandidateMetadata(candidate),\n  evidenceStatus,\n  evidence: evidence.map(({ label, url, title, excerpt }) => ({\n    label,\n    url,\n    title,\n    excerpt\n  }))\n};\n\nreturn [\n  {\n    json: {\n      ...base,\n      evidence,\n      evidenceStatus,\n      llmBriefInput\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8496,
        9408
      ],
      "id": "c93c7731-f8ec-4c8a-b427-e25b4d888cb9",
      "name": "Prepare package brief input"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "analysisId"
            },
            {
              "name": "projectName"
            },
            {
              "name": "dependencyStats",
              "type": "any"
            },
            {
              "name": "allCandidates",
              "type": "any"
            },
            {
              "name": "deepCandidate",
              "type": "any"
            },
            {
              "name": "candidatePosition",
              "type": "number"
            },
            {
              "name": "totalDeepCandidates",
              "type": "number"
            },
            {
              "name": "skipResearch",
              "type": "boolean"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        7520,
        8960
      ],
      "id": "29387f56-73c4-481a-ad83-2e0b74745cb8",
      "name": "Execute Workflow Trigger"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst candidate = data.deepCandidate ?? null;\nconst resolution = candidate?.resolution ?? {};\nconst repoUrl = candidate?.repositoryUrl ?? candidate?.sourceUrls?.find((url) => String(url).includes('github.com')) ?? null;\nconst match = typeof repoUrl === 'string' ? repoUrl.match(/github\\.com\\/([^/]+)\\/([^/#?]+)/i) : null;\nconst repoSlug = match ? (match[1] + '/' + match[2]).replace(/\\.git$/i, '') : null;\nconst github = repoSlug ? { owner: repoSlug.split('/')[0], repo: repoSlug.split('/')[1], repoSlug } : null;\nconst cleanVersion = (value) => {\n  if (!value) return null;\n  const versionMatch = String(value).match(/(\\d+\\.\\d+\\.\\d+(?:[-+][0-9A-Za-z.-]+)?)/);\n  return versionMatch ? versionMatch[1] : null;\n};\nconst registryPackageName = resolution.registryPackageName ?? candidate?.name ?? null;\nreturn [{ json: { ...data, deepCandidate: candidate, repoUrl, github, npmUrl: registryPackageName ? ('https://www.npmjs.com/package/' + registryPackageName) : null, currentVersionClean: candidate ? cleanVersion(resolution.wantedVersion ?? candidate.currentVersion) : null, latestVersionClean: candidate ? cleanVersion(resolution.latestVersion ?? candidate.latestVersion) : null, skipResearch: Boolean(data.skipResearch || !candidate) } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        7760,
        8960
      ],
      "id": "12f420b8-2ef2-4ad3-9303-224ddf5dd0ae",
      "name": "Normalize package context"
    },
    {
      "parameters": {
        "url": "={{ $json.skipResearch ? 'https://registry.npmjs.org/-/ping' : 'https://registry.npmjs.org/' + encodeURIComponent($json.deepCandidate.resolution?.registryPackageName ?? $json.deepCandidate.name) }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        8000,
        8960
      ],
      "id": "1aa85b64-c620-4ea5-a56d-01d27e2396b2",
      "name": "npm registry metadata"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Normalize package context').first().json.github?.repoSlug ?? '' }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        8224,
        8960
      ],
      "id": "1d4fb6f3-6adb-4b5b-987a-e3260a0f90b3",
      "name": "IF GitHub repo?"
    },
    {
      "parameters": {
        "jsCode": "const context = $('Normalize package context').first().json;\n\nconst contents = $input\n  .all()\n  .map(({ json }) => ({\n    name: json.name ?? json.fileName ?? '',\n    path: json.path ?? json.filePath ?? '',\n    url: json.url ?? json.self ?? null,\n    download_url: json.download_url ?? json.downloadUrl ?? null,\n    html_url: json.html_url ?? json.htmlUrl ?? null,\n    type: json.type ?? null,\n  }))\n  .filter((entry) => entry.name && entry.path);\n\nconst classify = (entry) => {\n  const fileName = String(entry.name ?? '').toLowerCase();\n  if (!fileName || entry.type === 'dir') return null;\n\n  if (fileName.includes('migration') || fileName.includes('upgrade')) {\n    return {\n      name: entry.name,\n      path: entry.path,\n      apiUrl: entry.url,\n      downloadUrl: entry.download_url ?? null,\n      htmlUrl: entry.html_url ?? entry.download_url ?? context.repoUrl,\n      label: 'migration-guide',\n      priority: 1,\n    };\n  }\n\n  if (\n    fileName.includes('changelog') ||\n    fileName === 'changes.md' ||\n    fileName === 'history.md' ||\n    fileName.includes('release-notes')\n  ) {\n    return {\n      name: entry.name,\n      path: entry.path,\n      apiUrl: entry.url,\n      downloadUrl: entry.download_url ?? null,\n      htmlUrl: entry.html_url ?? entry.download_url ?? context.repoUrl,\n      label: 'changelog',\n      priority: 2,\n    };\n  }\n\n  if (fileName === 'readme.md' || fileName === 'readme') {\n    return {\n      name: entry.name,\n      path: entry.path,\n      apiUrl: entry.url,\n      downloadUrl: entry.download_url ?? null,\n      htmlUrl: entry.html_url ?? entry.download_url ?? context.repoUrl,\n      label: 'docs',\n      priority: 3,\n    };\n  }\n\n  return null;\n};\n\nconst docCandidates = contents\n  .map(classify)\n  .filter(Boolean)\n  .sort((left, right) => left.priority - right.priority || left.name.localeCompare(right.name));\n\nreturn [{\n  json: {\n    ...context,\n    docCandidates: docCandidates.slice(0, 3),\n    primaryDocTarget: docCandidates[0] ?? null,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8704,
        8944
      ],
      "id": "e0bde758-03a8-45b7-b026-e5ba4ad2e635",
      "name": "Select documentation target"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.primaryDocTarget?.apiUrl ?? '' }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        8912,
        8944
      ],
      "id": "a3923dfd-bb70-4d0a-9d63-d80360cc3b4c",
      "name": "IF documentation target?"
    },
    {
      "parameters": {
        "jsCode": "const context = $('Normalize package context').first().json;\nconst npm = $('npm registry metadata').first()?.json ?? {};\nreturn [{\n  json: {\n    context,\n    npm,\n    releases: [],\n    primaryDocTarget: null,\n    docPayload: null\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8432,
        9168
      ],
      "id": "7f6d50ed-8d37-462f-8400-5b9d81306837",
      "name": "Build empty research envelope"
    },
    {
      "parameters": {
        "jsCode": "const context = $('Normalize package context').first().json;\nconst npm = $('npm registry metadata').first()?.json ?? {};\nconst docSelection = $('Select documentation target').first()?.json ?? {};\nconst releases = $input.all().map((item) => item.json).filter((entry) => entry && typeof entry === 'object');\nlet docPayload = null;\ntry {\n  docPayload = $('GitHub documentation raw').first()?.json ?? null;\n} catch (error) {\n  docPayload = null;\n}\nreturn [{\n  json: {\n    context,\n    npm,\n    releases,\n    primaryDocTarget: docSelection.primaryDocTarget ?? null,\n    docPayload\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9600,
        8960
      ],
      "id": "496faddf-556b-4847-9d97-61c65a7c260c",
      "name": "Build GitHub research envelope"
    },
    {
      "parameters": {
        "jsCode": "const envelope = $input.first().json ?? {};\nconst context = envelope.context ?? {};\nconst npm = envelope.npm ?? {};\nconst releases = Array.isArray(envelope.releases) ? envelope.releases : [];\nconst primaryDocTarget = envelope.primaryDocTarget ?? null;\nconst docPayload = envelope.docPayload ?? null;\nconst candidate = context.deepCandidate ?? null;\n\nconst normalizeText = (value) => {\n  if (typeof value === 'string') return value;\n  if (value === null || value === undefined) return '';\n  if (Array.isArray(value)) {\n    return value.map(normalizeText).filter(Boolean).join('\\n\\n');\n  }\n  if (typeof value === 'object') {\n    for (const key of ['content', 'text', 'body', 'data', 'raw', 'readme']) {\n      if (typeof value[key] === 'string') return value[key];\n    }\n    return '';\n  }\n  return String(value);\n};\n\nif (context.skipResearch || !candidate) {\n  return [{\n    json: {\n      ...context,\n      canonicalEvidence: [],\n      canonicalEvidenceStatus: 'none',\n      needsFallback: true,\n    }\n  }];\n}\n\nconst cleanVersion = (value) => {\n  if (!value) return null;\n  const versionMatch = String(value).match(/(\\d+\\.\\d+\\.\\d+(?:[-+][0-9A-Za-z.-]+)?)/);\n  return versionMatch ? versionMatch[1] : null;\n};\n\nconst parseSemver = (value) => {\n  const cleaned = cleanVersion(value);\n  if (!cleaned) return null;\n  const match = cleaned.match(/^(\\d+)\\.(\\d+)\\.(\\d+)/);\n  if (!match) return null;\n  return {\n    raw: cleaned,\n    major: Number(match[1]),\n    minor: Number(match[2]),\n    patch: Number(match[3]),\n  };\n};\n\nconst compareSemver = (left, right) => {\n  if (!left || !right) return 0;\n  if (left.major !== right.major) return left.major - right.major;\n  if (left.minor !== right.minor) return left.minor - right.minor;\n  return left.patch - right.patch;\n};\n\nconst pickDocExcerpt = (text, versions) => {\n  const source = normalizeText(text).replace(/\\r/g, '');\n  if (!source.trim()) return '';\n\n  const needles = versions\n    .filter(Boolean)\n    .flatMap((value) => [value, `v${value}`, `[${value}]`])\n    .map((value) => String(value).toLowerCase());\n\n  const haystack = source.toLowerCase();\n  let index = -1;\n\n  for (const needle of needles) {\n    const found = haystack.indexOf(needle);\n    if (found >= 0) {\n      index = found;\n      break;\n    }\n  }\n\n  if (index < 0) return source.slice(0, 1400);\n\n  const start = Math.max(0, index - 220);\n  return source.slice(start, start + 1400);\n};\n\nconst decodeDocContent = (payload) => {\n  if (!payload) return '';\n  if (typeof payload === 'string') return payload;\n\n  for (const key of ['content', 'data', 'fileContent', 'text', 'body']) {\n    if (typeof payload[key] === 'string') {\n      if (payload.encoding === 'base64') {\n        try {\n          return Buffer.from(payload[key].replace(/\\n/g, ''), 'base64').toString('utf8');\n        } catch (error) {\n          return '';\n        }\n      }\n      return payload[key];\n    }\n  }\n\n  return '';\n};\n\nconst currentPublishedAt =\n  context.currentVersionClean && npm?.time?.[context.currentVersionClean]\n    ? npm.time[context.currentVersionClean]\n    : null;\n\nconst latestPublishedAt =\n  context.latestVersionClean && npm?.time?.[context.latestVersionClean]\n    ? npm.time[context.latestVersionClean]\n    : null;\n\nconst metadataBits = [\n  `Current ${candidate.currentVersion}`,\n  `latest ${candidate.latestVersion}`,\n  `diff ${candidate.diffType}`,\n  `deprecated ${candidate.deprecated}`,\n  currentPublishedAt ? `current published ${currentPublishedAt}` : null,\n  latestPublishedAt ? `latest published ${latestPublishedAt}` : null,\n  npm?.['dist-tags']?.latest ? `dist-tag latest ${npm['dist-tags'].latest}` : null,\n].filter(Boolean).join('; ');\n\nconst evidence = [{\n  packageName: candidate.name,\n  label: 'npm',\n  url: context.npmUrl,\n  title: 'npm metadata',\n  excerpt: metadataBits,\n  confidence: 'high',\n}];\n\nlet deprecatedMessage = null;\nfor (const key of [\n  context.latestVersionClean,\n  candidate.latestVersion,\n  context.currentVersionClean,\n  candidate.currentVersion,\n]) {\n  if (key && npm?.versions?.[key]?.deprecated) {\n    deprecatedMessage = npm.versions[key].deprecated;\n    break;\n  }\n}\n\nif (deprecatedMessage || candidate.deprecated) {\n  evidence.push({\n    packageName: candidate.name,\n    label: 'npm',\n    url: context.npmUrl,\n    title: 'deprecation notice',\n    excerpt: String(\n      deprecatedMessage ?? 'npm y el analisis base marcan este paquete como deprecated.'\n    ),\n    confidence: 'high',\n  });\n}\n\nconst currentParsed = parseSemver(context.currentVersionClean ?? candidate.currentVersion);\nconst latestParsed = parseSemver(context.latestVersionClean ?? candidate.latestVersion);\nconst releaseList = releases.filter((release) => release && typeof release === 'object');\nconst relevantReleases = releaseList.filter((release) => {\n  const parsed = parseSemver(String(release?.tag_name ?? release?.name ?? ''));\n  if (!parsed) return false;\n  if (latestParsed && compareSemver(parsed, latestParsed) > 0) return false;\n  if (currentParsed && compareSemver(parsed, currentParsed) <= 0) return false;\n  return true;\n});\n\nconst selectedReleases = (relevantReleases.length ? relevantReleases : releaseList).slice(0, 4);\n\nfor (const release of selectedReleases) {\n  const body = normalizeText(release?.body).trim();\n  if (body.length < 40) continue;\n\n  evidence.push({\n    packageName: candidate.name,\n    label: 'github-release',\n    url: release.html_url ?? context.repoUrl ?? context.npmUrl,\n    title: release.name ?? release.tag_name ?? 'release',\n    excerpt: body.slice(0, 1400),\n    publishedAt: release.published_at ?? null,\n    confidence: 'high',\n  });\n}\n\nconst docContent = decodeDocContent(docPayload);\n\nif (primaryDocTarget && docContent.trim()) {\n  evidence.push({\n    packageName: candidate.name,\n    label: primaryDocTarget.label,\n    url: primaryDocTarget.htmlUrl ?? primaryDocTarget.downloadUrl ?? context.repoUrl ?? context.npmUrl,\n    title: primaryDocTarget.name,\n    excerpt: pickDocExcerpt(docContent, [context.latestVersionClean, context.currentVersionClean]),\n    confidence: primaryDocTarget.label === 'docs' ? 'medium' : 'high',\n  });\n} else {\n  const npmReadme = normalizeText(npm?.readme);\n  if (!selectedReleases.length && npmReadme.trim()) {\n    evidence.push({\n      packageName: candidate.name,\n      label: 'docs',\n      url: context.npmUrl,\n      title: 'README from npm registry',\n      excerpt: pickDocExcerpt(npmReadme, [context.latestVersionClean, context.currentVersionClean]),\n      confidence: 'medium',\n    });\n  }\n}\n\nconst verifiedCanonicalEvidence = evidence.filter((entry) => {\n  if (entry.label === 'npm' && entry.title === 'deprecation notice') return true;\n  if (!['github-release', 'changelog', 'migration-guide'].includes(entry.label)) return false;\n  return String(entry.excerpt ?? '').trim().length >= 80;\n});\n\nconst canonicalEvidenceStatus =\n  verifiedCanonicalEvidence.length ? 'verified' : evidence.length ? 'partial' : 'none';\n\nreturn [{\n  json: {\n    ...context,\n    canonicalEvidence: evidence.slice(0, 8),\n    canonicalEvidenceStatus,\n    needsFallback: verifiedCanonicalEvidence.length === 0,\n    primaryDocTarget,\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        8752,
        9168
      ],
      "id": "cd903785-50ad-48bc-951d-ace18b5a86cd",
      "name": "Extract evidence window"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ String(!$json.needsFallback) }}",
              "value2": "true"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        7824,
        9424
      ],
      "id": "b7208a6f-c68a-4995-b186-6f095db2e3c2",
      "name": "IF canonical evidence enough?"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\nconst parsed = raw.output ?? raw;\n\nconst prep = $('Prepare package brief input').first().json;\nconst candidate = prep.deepCandidate;\nconst resolution = candidate?.resolution ?? {};\nconst declaredSpec = resolution.declaredSpec ?? candidate.currentVersion;\nconst wantedVersion = resolution.wantedVersion ?? candidate.currentVersion;\nconst latestVersion = resolution.latestVersion ?? candidate.latestVersion;\nconst requiresManualReview = Boolean(resolution.requiresManualReview);\n\nconst sanitizeText = (value, maxLength = 420) => {\n  if (typeof value !== 'string') return '';\n  return value.replace(/\\s+/g, ' ').trim().slice(0, maxLength);\n};\n\nconst sanitizeList = (value, maxItems = 3, maxLength = 180) => {\n  if (!Array.isArray(value)) return [];\n  return value\n    .filter((entry) => typeof entry === 'string')\n    .map((entry) => entry.replace(/\\s+/g, ' ').trim())\n    .filter(Boolean)\n    .slice(0, maxItems)\n    .map((entry) => entry.slice(0, maxLength));\n};\n\nconst evidenceStatus = ['verified', 'partial', 'none'].includes(prep.evidenceStatus)\n  ? prep.evidenceStatus\n  : 'none';\n\nconst buildFallbackSummary = () => {\n  if (evidenceStatus === 'verified') {\n    return 'Spec ' + declaredSpec + '. Wanted ' + wantedVersion + '; latest ' + latestVersion + '. Evidencia verificada disponible para revisar antes del merge.';\n  }\n\n  if (evidenceStatus === 'partial') {\n    return 'Spec ' + declaredSpec + '. Wanted ' + wantedVersion + '; latest ' + latestVersion + '. Evidencia parcial; revisa fuentes oficiales antes de aplicar cambios sensibles.';\n  }\n\n  return 'Spec ' + declaredSpec + '. Wanted ' + wantedVersion + '; latest ' + latestVersion + '. No hubo evidencia suficiente para afirmar breaking changes verificables.';\n};\n\nconst fallbackEditorial = {\n  summary: buildFallbackSummary(),\n  breakingChanges: [],\n  testFocus: candidate.deprecated\n    ? [\n        'Validar rutas criticas que aun usan el paquete deprecated',\n        'Aislar impacto de la sustitucion o remocion'\n      ]\n    : requiresManualReview\n      ? [\n          'Verificar como se resuelve realmente el spec en instalacion o lockfile',\n          'Confirmar compatibilidad manual antes de cambiar canal, alias o fuente'\n        ]\n      : [\n          'Smoke test del flujo principal afectado',\n          'Verificar build, imports y arranque del proyecto'\n        ],\n  recommendedActions: candidate.deprecated\n    ? [\n        'Planificar reemplazo o salida gradual',\n        'No expandir nuevas dependencias sobre este paquete'\n      ]\n    : requiresManualReview\n      ? [\n          'Tratar este paquete como manual review antes de proponer un upgrade automatico',\n          'Revisar declaredSpec, wantedVersion y latestVersion antes de cambiar el comportamiento actual'\n        ]\n      : [\n          'Aplicar upgrade en una rama corta',\n          'Validar test focus antes de mergear'\n        ]\n};\n\nconst parsedObject = parsed && typeof parsed === 'object' && !Array.isArray(parsed) ? parsed : {};\n\nconst breakingChanges = (() => {\n  const list = sanitizeList(parsedObject.breakingChanges, 3, 180);\n  return list.length ? list : fallbackEditorial.breakingChanges;\n})();\n\nconst testFocus = (() => {\n  const list = sanitizeList(parsedObject.testFocus, 3, 180);\n  return list.length ? list : fallbackEditorial.testFocus;\n})();\n\nconst recommendedActions = (() => {\n  const list = sanitizeList(parsedObject.recommendedActions, 3, 180);\n  return list.length ? list : fallbackEditorial.recommendedActions;\n})();\n\nconst summary = sanitizeText(parsedObject.summary, 420) || fallbackEditorial.summary;\n\nconst riskLevel =\n  candidate.deprecated || candidate.diffType === 'major' || requiresManualReview\n    ? 'high'\n    : candidate.diffType === 'minor'\n      ? 'medium'\n      : 'low';\n\nconst confidence =\n  evidenceStatus === 'verified'\n    ? 'high'\n    : evidenceStatus === 'partial'\n      ? 'medium'\n      : 'low';\n\nconst sources = [];\nconst seen = new Set();\n\nfor (const entry of prep.evidence ?? []) {\n  const url = String(entry?.url ?? '').trim();\n  const label = String(entry?.label ?? '').trim();\n  if (!url || !label) continue;\n\n  const key = candidate.name + '|' + label + '|' + url;\n  if (seen.has(key)) continue;\n\n  seen.add(key);\n  sources.push({\n    packageName: candidate.name,\n    label,\n    url\n  });\n}\n\nreturn [\n  {\n    json: {\n      packageBrief: {\n        name: candidate.name,\n        summary,\n        breakingChanges,\n        testFocus,\n        riskLevel,\n        confidence,\n        evidenceStatus,\n        recommendedActions,\n        sources\n      }\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9104,
        9392
      ],
      "id": "1f3cc89d-6631-4f2a-a11b-dcc0b4588888",
      "name": "Build package brief"
    },
    {
      "parameters": {
        "jsCode": "return [{ json: $input.first().json }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        9312,
        9392
      ],
      "id": "e57b36a0-a5ea-4113-a21c-ee3ffb753b05",
      "name": "Return data to parent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Genera un brief por paquete usando únicamente la evidencia recibida.\n\nObjetivo:\n- summary: sintetiza el upgrade y el nivel de certeza\n- breakingChanges: enumera solo cambios verificables\n- testFocus: indica validaciones concretas\n- recommendedActions: propone siguientes pasos conservadores\n\nReglas:\n- Devuelve solo un objeto JSON raíz; no uses ```json, no uses arrays como raíz, no envuelvas en output.\n- Devuelve exclusivamente summary, breakingChanges, testFocus y recommendedActions.\n- No incluyas name, riskLevel, confidence, evidenceStatus ni sources; esos campos los calcula el workflow.\n- summary: máximo 2 frases.\n- breakingChanges: máximo 3 items.\n- testFocus: máximo 3 items.\n- recommendedActions: máximo 3 items.\n- No investigues fuera de la entrada.\n- No agregues fuentes nuevas.\n- Usa candidate.resolution para distinguir declaredSpec, wantedVersion, latestVersion, deprecationStatus y requiresManualReview.\n- Si evidenceStatus !== 'verified', no afirmes breaking changes salvo una deprecación oficial explícita.\n- Si requiresManualReview es true, dilo claramente y evita recomendar un upgrade automático como hecho consumado.\n- Si la evidencia es parcial o débil, dilo claramente en summary.\n- No repitas toda la evidencia; sintetiza.\n\nEntrada:\n{{ JSON.stringify({\n  candidate: $json.deepCandidate,\n  evidenceStatus: $json.evidenceStatus,\n  evidence: $json.evidence\n}, null, 2) }}\n",
        "hasOutputParser": true,
        "messages": {
          "messageValues": [
            {
              "message": "Eres un analista senior de upgrades npm.\nDevuelve exclusivamente datos que cumplan el schema del output parser.\nTodo el texto orientado al usuario debe estar en español técnico natural y ser claro para developers.\n\nRol:\n- Actúa como extractor estricto de evidencia, no como asesor creativo.\n- Resume únicamente lo sustentado por candidate, evidenceStatus y evidence.\n- Usa esta precedencia de evidencia al resolver conflictos: deprecation notice > migration guide > changelog > github-release > docs/readme.\n\nSalida permitida:\n- Devuelve solo summary, breakingChanges, testFocus y recommendedActions.\n- Nunca devuelvas name, riskLevel, confidence, evidenceStatus ni sources.\n\nReglas de precisión:\n- No inventes breaking changes, acciones ni fuentes.\n- breakingChanges solo puede incluir cambios sustentados por evidencia verificable.\n- Si evidenceStatus no es verified, breakingChanges debe quedar vacío salvo una deprecación oficial explícita.\n- Usa candidate.resolution.declaredSpec, wantedVersion y latestVersion para separar el spec declarado del target resoluble.\n- Si candidate.resolution.requiresManualReview es true, exprésalo explícitamente y evita afirmar que el upgrade es directo o automático.\n- docs o README solo sirven como contexto secundario; no los uses como breaking change verificado.\n- No asumas un gestor de paquetes específico ni propongas comandos concretos de instalación.\n\nReglas de estilo:\n- summary debe ser breve, técnico y accionable, con máximo 2 frases.\n- breakingChanges debe tener máximo 3 items.\n- testFocus debe tener máximo 3 items.\n- recommendedActions debe tener máximo 3 items.\n- testFocus y recommendedActions deben ser concretos y útiles para un equipo técnico.\n- Si hay incertidumbre, exprésala explícitamente en summary y evita lenguaje tajante.\n"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        8704,
        9408
      ],
      "id": "7df7ae62-6218-4d05-9bee-0ac66c4eddbb",
      "name": "Basic LLM Chain",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "openai/gpt-oss-120b",
        "options": {
          "maxTokensToSample": 1400,
          "temperature": 0.2
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        8624,
        9648
      ],
      "id": "75bd6f89-c889-4785-8a41-1e57291c81c2",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "Z1d7AmcF6EvlW8cq",
          "name": "Groq API"
        }
      }
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"additionalProperties\": false,\n  \"properties\": {\n    \"summary\": {\n      \"type\": \"string\"\n    },\n    \"breakingChanges\": {\n      \"type\": \"array\",\n      \"maxItems\": 3,\n      \"items\": {\n        \"type\": \"string\"\n      }\n    },\n    \"testFocus\": {\n      \"type\": \"array\",\n      \"maxItems\": 3,\n      \"items\": {\n        \"type\": \"string\"\n      }\n    },\n    \"recommendedActions\": {\n      \"type\": \"array\",\n      \"maxItems\": 3,\n      \"items\": {\n        \"type\": \"string\"\n      }\n    }\n  },\n  \"required\": [\n    \"summary\",\n    \"breakingChanges\",\n    \"testFocus\",\n    \"recommendedActions\"\n  ]\n}\n",
        "autoFix": true,
        "customizeRetryPrompt": true,
        "prompt": "Instructions:\n--------------\n{instructions}\n--------------\nCompletion:\n--------------\n{completion}\n--------------\n\nAbove, the Completion did not satisfy the constraints given in the Instructions.\nError:\n--------------\n{error}\n--------------\n\nTu única tarea es reparar el formato y la estructura para que cumpla exactamente el JSON Schema indicado en Instructions.\n\nReglas obligatorias:\n- Conserva el mismo idioma del texto original.\n- No traduzcas contenido ya presente.\n- No agregues nuevas afirmaciones, no agregues nuevas fuentes ni nuevos paquetes.\n- No reconstruyas campos que no formen parte del schema.\n- Si existe un wrapper `output`, elimínalo y devuelve su contenido como objeto raíz.\n- Si hay bloques ```json o ``` , elimínalos.\n- Si el contenido original está incompleto o truncado, conserva solo lo recuperable y usa arrays vacíos o texto conservador en lugar de inventar.\n- Mantén los valores originales siempre que ya sean válidos para el schema.\n- Devuelve solo un objeto JSON raíz válido. No uses markdown.\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        8768,
        9584
      ],
      "id": "6d89adbb-df24-42ce-b69b-9584468deb05",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "query": "={{ `${$('Normalize package context').first().json.deepCandidate.name} ${$('Normalize package context').first().json.currentVersionClean ?? $('Normalize package context').first().json.deepCandidate.currentVersion} to ${$('Normalize package context').first().json.latestVersionClean ?? $('Normalize package context').first().json.deepCandidate.latestVersion} release notes changelog migration guide ${$('Normalize package context').first().json.github?.repoSlug ?? ''}`.trim() }}",
        "options": {
          "topic": "general",
          "search_depth": "advanced",
          "max_results": 4,
          "include_raw_content": false,
          "include_images": false,
          "include_domains": []
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [
        7984,
        9568
      ],
      "id": "c6e8b8e8-0d1e-4bed-9272-5480b1282e0a",
      "name": "Tavily Search",
      "credentials": {
        "tavilyApi": {
          "id": "oEbE6YB6UzRmeSoJ",
          "name": "Tavily account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "extract",
        "urls": [
          "={{ $('Tavily Search').first().json.results?.[0]?.url ?? '' }}",
          "={{ $('Tavily Search').first().json.results?.[1]?.url ?? '' }}"
        ],
        "options": {
          "include_images": false,
          "extract_depth": "basic",
          "format": "markdown"
        }
      },
      "type": "@tavily/n8n-nodes-tavily.tavily",
      "typeVersion": 1,
      "position": [
        8160,
        9472
      ],
      "id": "1ee24afe-3812-41f4-9c25-6bd1d3246ad1",
      "name": "Tavily Extract",
      "credentials": {
        "tavilyApi": {
          "id": "oEbE6YB6UzRmeSoJ",
          "name": "Tavily account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "resource": "release",
        "operation": "getAll",
        "owner": {
          "__rl": true,
          "value": "={{ $('Normalize package context').first().json.github.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Normalize package context').first().json.github.repo }}",
          "mode": "name"
        },
        "limit": 10
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        9360,
        8960
      ],
      "id": "b3d118bf-aef7-4ae9-9226-b954d0e64ee8",
      "name": "GitHub releases",
      "webhookId": "cc57291a-1244-4952-80cb-f1d29dc0714c",
      "alwaysOutputData": true,
      "credentials": {
        "githubApi": {
          "id": "tQguFU1WHwf0i6hf",
          "name": "GitHub account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "list",
        "owner": {
          "__rl": true,
          "value": "={{ $('Normalize package context').first().json.github.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Normalize package context').first().json.github.repo }}",
          "mode": "name"
        }
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        8480,
        8944
      ],
      "id": "19da8cd3-fc99-46db-893e-508cd5c8092a",
      "name": "GitHub contents index",
      "webhookId": "5bfe547b-3f80-453a-a397-6b4ccf1e6379",
      "credentials": {
        "githubApi": {
          "id": "tQguFU1WHwf0i6hf",
          "name": "GitHub account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "operation": "get",
        "owner": {
          "__rl": true,
          "value": "={{ $('Normalize package context').first().json.github.owner }}",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Normalize package context').first().json.github.repo }}",
          "mode": "name"
        },
        "filePath": "={{ $json.primaryDocTarget.path }}",
        "asBinaryProperty": false,
        "additionalParameters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        9120,
        8832
      ],
      "id": "d2fddfca-ae45-4de0-abae-5dbabf20148b",
      "name": "GitHub documentation raw",
      "webhookId": "8f8d3ebd-485f-4b02-a353-f97103496c0e",
      "credentials": {
        "githubApi": {
          "id": "tQguFU1WHwf0i6hf",
          "name": "GitHub account 2"
        }
      }
    }
  ],
  "connections": {
    "Prepare package brief input": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Normalize package context",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize package context": {
      "main": [
        [
          {
            "node": "npm registry metadata",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "npm registry metadata": {
      "main": [
        [
          {
            "node": "IF GitHub repo?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF GitHub repo?": {
      "main": [
        [
          {
            "node": "GitHub contents index",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build empty research envelope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select documentation target": {
      "main": [
        [
          {
            "node": "IF documentation target?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF documentation target?": {
      "main": [
        [
          {
            "node": "GitHub documentation raw",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "GitHub releases",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build empty research envelope": {
      "main": [
        [
          {
            "node": "Extract evidence window",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build GitHub research envelope": {
      "main": [
        [
          {
            "node": "Extract evidence window",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract evidence window": {
      "main": [
        [
          {
            "node": "IF canonical evidence enough?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF canonical evidence enough?": {
      "main": [
        [
          {
            "node": "Prepare package brief input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tavily Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build package brief": {
      "main": [
        [
          {
            "node": "Return data to parent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Build package brief",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Build package brief",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Tavily Search": {
      "main": [
        [
          {
            "node": "Tavily Extract",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare package brief input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tavily Extract": {
      "main": [
        [
          {
            "node": "Prepare package brief input",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare package brief input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub releases": {
      "main": [
        [
          {
            "node": "Build GitHub research envelope",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub contents index": {
      "main": [
        [
          {
            "node": "Select documentation target",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GitHub documentation raw": {
      "main": [
        [
          {
            "node": "GitHub releases",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e490f8befecaf7a9f4d99d1603a8853f049a2db15b61a8bb1289ed6e3e60c4ff"
  }
}